<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 상세페이지</title>
    <style>
        div { white-space:pre;}
    </style>
</head>
<body>
    <div><%- data.num %></div>
    <div><%- data.title %></div>
    <div><%- data.author %></div>
    <div><%- data.content %></div>

    <a href="/board/list">목록페이지로</a>
    <a href="/board/update/<%- data.num %>">수정화면페이지로</a>
    <a href="/dbdelete/<%- data.num %>">삭제처리</a>
</body>
</html>